# Ignore Python cache
__pycache__/

# Ignore specific test files
test.*
PYTHON/EXERCISES/test.py
C:/Users/Dreid/Desktop/DOT_Training_Course/PYTHON/EXERCISES

# Ignore common files
*.db
*.exe
*.json
*.o
*.sqlite*
*.txt
*.csv

# Ignore folders
.vscode/
build/
HANGMAN/
README.md