# Ignore Python cache
__pycache__/

# Ignore specific test files
test.*

# Ignore common files
*.db
*.exe
*.json
*.o
*.sqlite*
*.txt
*.csv
*.h
*makefile*

# Ignore folders
.vscode/
build/
HANGMAN/
README.md